@{
    ViewBag.Title = "FIND A BOTOX® SPECIALIST";
}


@section headings
{
    <h1>Find a Botox specialist</h1>
    <h2 class="mt-5">Refer your patient to a local healthcare provider experienced with botox</h2>
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-8 offset-md-3 offset-lg-2 pl-4">
            <h3 class="my-5" style="color: #7d4199">Contact us</h3>
        </div>
    </div>
</div>
<section class="dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-8 offset-md-3 offset-lg-2 pl-4">
                <div class="row py-5 mb-5">
                    <div class="col-md-6">
                        <p>
                            <strong>AbbVie Corporation</strong><br />
                            8401 Trans-Canada Highway<br />
                            Saint-Laurent, Quebec, Canada H4S 1Z1<br />
                            P.O. Box 120, Pointe-Claire/Dorval<br />
                            Pointe-Claire, Quebec, Canada H9R 4N5<br /><br />
                            Telephone: 1-888-703-3006 or 514-906-9700<br />
                            Fax: 1-888-704-8266
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <strong>AbbVie Medical Information</strong><br />
                            Telephone: 1-844-241-5011
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>