@{
    ViewBag.Title = "TROUVEZ UN SPÉCIALISTE DU TRAITEMENT PAR BOTOX";
}


@section headings
{
    <h1>TROUVEZ UN SPÉCIALISTE DU TRAITEMENT PAR BOTOX<sup>&reg;</sup></h1>
    <h2 class="mt-5">ORIENTEZ VOTRE PATIENT VERS UN PROFESSIONNEL DE LA SANTÉ DE VOTRE RÉGION AYANT DE L’EXPÉRIENCE AVEC BOTOX</h2>
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-8 offset-md-3 offset-lg-2 pl-4">
            <h3 class="my-5" style="color: #7d4199">Nous contacter</h3>
        </div>
    </div>
</div>
<section class="dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-8 offset-md-3 offset-lg-2 pl-4">
                <div class="row py-5 mb-5">
                    <div class="col-md-6">
                        <p>
                            <strong>Corporation AbbVie</strong><br />
                            8401, route Transcanadienne<br />
                            Saint-Laurent (Québec) Canada&nbsp;&nbsp;H4S&nbsp;1Z1<br />
                            C.P. 120, Pointe-Claire/Dorval<br />
                            Pointe-Claire (Québec) Canada&nbsp;&nbsp;H9R&nbsp;4N5<br /><br />
                            Téléphone : <a class="text-decoration-none text-dark" href="tel:18887033006">1-888-703-3006</a> ou <a class="text-decoration-none text-dark" href="tel:5149069700">514-906-9700</a><br />
                            Télécopieur : <a class="text-decoration-none text-dark" href="tel:18887048266">1-888-704-8266</a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <strong>Service de l’Information médicale d’AbbVie</strong><br />
                            Téléphone : <a class="text-decoration-none text-dark" href="tel:18442415011">1-844-241-5011</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
