
@{
    ViewBag.Title = "Page avis juridique et confidentialité";
}

@section headings
{
    <h1>Trouvez un spécialiste en traitement de BOTOX<sup>MD</sup></h1>
    <h2 class="mt-5"><span>Trouvez un </span>médecin<span> <br class="d-none d-md-block"> de votre région expérimenté dans l’usage du BOTOX<sup>MD</sup></span></h2>
}

<section id="main" class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-purple-arrow-left fr" })
            </div>
        </div>
    </div>
</section>
<section class="dark">
    <div class="container pt-5 pb-5">

        <div class="row micetype mt-3 mb-5">

            <div class="col-lg-6">
                <p>
                    <strong>PAGE AVIS JURIDIQUE ET CONFIDENTIALITÉ</strong>
                </p>

                <p>En vigueur depuis le 9 avril 2019.</p>

                <p><strong>Politique de confidentialité d’Allergan Canada</strong></p>

                <p>
                    La société Allergan plc et ses sociétés affiliées du monde entier (ci-après appelées «&nbsp;Allergan&nbsp;») recueillent des données personnelles dans le but de vous servir et de communiquer avec vous. La présente politique de confidentialité explique de quelle façon Allergan recueille, utilise et divulgue vos données personnelles et répond à des questions précises que vous vous posez peut-être sur la confidentialité et la sécurité de ces dernières.<br>

                    La présente politique de confidentialité s’applique à l’exploitation des sites Web canadiens et des autres applications (y compris des applications mobiles) qui ont un lien direct avec cette politique. Les sociétés affiliées d’Allergan à l’échelle mondiale peuvent avoir d’autres politiques de confidentialité expressément adaptées aux lois des pays où elles mènent leurs activités. Ces politiques de confidentialité peuvent être consultées en cliquant sur le lien Confidentialité dans le bas de page du site Web de chaque société affiliée.
                </p>

                <p>
                    1. Consentement au traitement des données aux États-Unis et ailleurs qu’au Canada<br>
                    Ce site appartient à Allergan Canada et est exploité par cette société, mais les données que vous lui fournissez sont stockées et traitées aux États-Unis, et nos sociétés affiliées ainsi que nos fournisseurs dans d’autres pays ont accès aux données que vous fournissez. La protection des données personnelles garantie par la loi n’est pas la même dans tous les pays. Toutefois, en plus de prendre les mesures de sécurité nécessaires à l’égard de ces données de la manière décrite dans la présente politique de confidentialité, nous les utiliserons et les divulguerons de cette même manière. En utilisant ce site, vous consentez à la collecte, à l’entreposage et au traitement de vos données aux États-Unis et dans tout autre pays où vos données pourraient être transférées dans le cadre de nos activités opérationnelles.<br>
                    Vous reconnaissez et convenez que les autorités chargées de l’application des lois ainsi que toute autre autorité sur ces territoires peuvent avoir accès à vos données personnelles.
                </p>

                <p>
                    2. Types de données personnelles qu’Allergan peut recueillir<br>

                    La présente politique de confidentialité explique nos pratiques à l’égard des «&nbsp;données personnelles&nbsp;». Les données personnelles désignent tous les renseignements qui peuvent servir à vous identifier, à vous trouver ou à communiquer avec vous. Ces données comprennent également tous les autres renseignements qui peuvent être associés à ces données personnelles. Exemples de types de données personnelles&nbsp;:
                    <ul>
                        <li>les coordonnées, comme votre nom, votre adresse électronique, votre adresse postale ou vos numéros de téléphone;</li>
                        <li>les données relationnelles, notamment les renseignements sur les produits, les traitements et les problèmes de santé auxquels vous vous intéressez;</li>
                        <li>les données transactionnelles, notamment les achats, les demandes de renseignement et les renseignements sur la façon dont vous utilisez les sites Web et les applications mobiles d’Allergan;</li>
                        <li>les données bancaires, comme votre numéro de carte de crédit ou votre numéro d’assurance sociale;</li>
                        <li>les données de géolocalisation qui peuvent nous être transmises par votre téléphone intelligent ou tout autre dispositif permettant d’estimer votre position géographique;</li>
                        <li>les données contenues dans les demandes d’emploi, comme vos coordonnées, votre curriculum vitæ, vos antécédents professionnels, vos études, vos relevés de notes, les renseignements sur votre permis de conduire, votre numéro d’assurance sociale (si nécessaire) ou autre numéro d’identification nationale et les renseignements relatifs à vos références.</li>
                    </ul>
                </p>

                <p>
                    3. Comment Allergan recueille-t-elle les données personnelles?<br>
                    Dans la majorité des cas, nous recueillons les données personnelles directement auprès de vous. Nous vous demandons des données personnelles lorsque vous communiquez avec nous, par exemple lorsque vous vous inscrivez sur nos sites Web, lorsque vous utilisez une fonction ou une application interactive, lorsque vous vous abonnez à un bulletin d’information ou demandez un rabais, lorsque vous participez à un programme permettant de réaliser des économies ou encore lorsque vous faites un achat direct ou une demande d’emploi. Il nous arrive de recueillir des données supplémentaires auprès de fournisseurs de données tiers qui améliorent le contenu de nos dossiers ou auprès de sites de médias sociaux comme Facebook, lorsque vous aimez nos pages ou que vous vous joignez à nos communautés.<br>

                    Si vous communiquez en ligne avec nous, nous utilisons des témoins (cookies) et d’autres outils technologiques pour recueillir des données sur votre ordinateur et sur l’utilisation que vous faites de nos sites Web et de nos applications. Si vous utilisez une application mobile créée par Allergan, cette application vous informera des données qu’elle recueille et des informations qu’elle est susceptible de transférer à Allergan. On vous demandera de consentir à ce que nous ayons accès aux données de géolocalisation ou à d’autres données de repérage similaires. Nous traitons ces données comme des données personnelles seulement lorsque celles-ci ou d’autres données connexes peuvent servir à vous identifier. Pour de plus amples renseignements sur les témoins et les autres technologies, veuillez consulter la section ci-dessous intitulée Témoins et autres technologies de collecte de données.
                </p>

                <p>
                    4. Comment Allergan utilise-t-elle les données personnelles?<br>
                    Allergan peut utiliser vos données personnelles pour ses besoins commerciaux, par exemple&nbsp;:
                    <ul>
                        <li>pour répondre à vos demandes de renseignements, de produits et de services, et notamment pour gérer vos comptes en ligne et vous fournir le service prévu par la garantie pour certains produits;</li>
                        <li>pour vous donner des renseignements généraux sur la santé (tels que des renseignements sur certains problèmes de santé) ainsi que des renseignements sur ses produits et services;</li>
                        <li>pour vous faire parvenir ses communications promotionnelles et pour vous offrir des produits et des services, dans la mesure où les lois applicables le permettent;</li>
                        <li>pour administrer des programmes promotionnels, comme des tirages et des programmes de récompenses et de rabais;</li>
                        <li>pour déterminer si vous êtes admissible à certains produits, services ou programmes (comme les programmes permettant aux patients de réaliser des économies);</li>
                        <li>pour développer sa relation d’affaires avec vous, si vous avez une relation d’affaires ou professionnelle avec Allergan;</li>
                        <li>pour prendre votre candidature en considération, si vous postulez à un emploi par l’entremise du centre de carrière du site;</li>
                        <li>pour ses activités de recherche et développement;</li>
                        <li>pour rendre les données anonymes afin qu’elles ne soient plus considérées comme des données personnelles;</li>
                        <li>pour assurer l’innocuité des produits, notamment par l’entremise de la déclaration des effets indésirables, ou pour vous communiquer des renseignements sur l’innocuité des produits;</li>
                        <li>pour d’autres besoins commerciaux courants, notamment le traitement des paiements et la gestion financière des comptes, la mise au point des produits, la gestion des contrats, l’administration des sites Web, le traitement des commandes, l’analyse des données, la prévention de la fraude, la gouvernance de l’entreprise, la production des rapports et la conformité aux lois et aux règlements.</li>
                    </ul>
                </p>

                <p>
                    5. Quand et pourquoi Allergan divulgue-t-elle des données personnelles?<br>
                    Allergan ne vend pas, ne communique pas, ni ne distribue de quelque autre façon que ce soit vos données personnelles à des tiers pour leurs besoins promotionnels. Allergan ne communique vos données personnelles qu’en conformité aux lois et règlements applicables. Par exemple, nous pourrions communiquer vos données personnelles de l’une ou l’autre des façons suivantes&nbsp;:
                    <ul>
                        <li>nous pourrions communiquer vos données personnelles avec votre consentement ou selon vos instructions. Par exemple, nous pourrions communiquer des données à votre médecin dans le cadre de programmes auxquels vous acceptez de participer;</li>
                        <li>nous pourrions communiquer vos données personnelles à nos sociétés affiliées et aux partenaires avec qui nous faisons la promotion conjointe de nos produits, mais ces derniers ne peuvent utiliser vos données personnelles qu’aux fins énumérées dans la présente politique;</li>
                        <li>nous pourrions communiquer vos données personnelles à nos fournisseurs de service, qui ont l’obligation de les protéger en vertu de la loi ou d’un contrat et qui ne peuvent les utiliser que conformément à nos instructions. Par exemple, nous pourrions communiquer vos données personnelles à des sociétés qui nous fournissent des services de traitement de données ou de commandes;</li>
                        <li>nous pourrions aussi divulguer vos données personnelles lorsque cela est nécessaire pour faciliter la vente ou le transfert d’actifs commerciaux, examiner des questions d’ordre juridique, faire respecter nos droits, protéger nos biens ou protéger les droits, les biens ou la sécurité de tiers ou pour répondre à des besoins d’audit externe, de conformité ou de gouvernance d’entreprise;</li>
                        <li>nous pourrions aussi divulguer vos données personnelles, notamment aux organismes chargés de l’application de la loi et aux tribunaux des États-Unis et de tout autre pays où nous menons des activités, si nous y sommes contraints dans le cadre d’un processus judiciaire ou si la loi l’exige, par exemple en réponse à une citation à comparaître;</li>
                        <li>veuillez noter que nous pourrions aussi divulguer des données à votre sujet qui ne permettent pas de vous identifier personnellement. Par exemple, nous pourrions publier des rapports qui contiennent des données agrégées et des données statistiques sur nos clients. Ces rapports ne contiennent aucune donnée qui pourrait permettre à leur destinataire de vous identifier, de vous trouver ou de communiquer avec vous.</li>
                    </ul>
                </p>

                <p>
                    6. Témoins et autres technologies de collecte de données<br>
                    Lorsque vous visitez notre site Web ou utilisez nos applications mobiles, nous recueillons certaines données par des moyens automatisés, à l’aide de technologies comme les témoins, les pixels invisibles, les outils d’analyse du navigateur, les journaux de serveur et les pixels-espions.<br>
                    Par exemple, lorsque vous visitez notre site Web, nous plaçons des témoins dans votre ordinateur. Les témoins sont de petits fichiers texte que les sites Web envoient à votre ordinateur ou à tout autre dispositif connecté à Internet pour identifier de façon unique votre navigateur ou pour stocker des données ou des paramètres dans votre navigateur. Les témoins nous permettent de vous reconnaître lorsque vous revenez sur notre site Web. Ils nous aident aussi à personnaliser votre visite et nous permettent de déceler certains types de fraudes.<br>
                    Allergan utilise des témoins Flash (également appelés objets locaux partagés [Local Stored Objects]), le plugiciel Microsoft Silverlight et d’autres technologies similaires pour personnaliser et améliorer votre expérience en ligne conformément aux normes de la Network Advertising Initiative. Adobe Flash Player est une application qui permet d’afficher rapidement du contenu dynamique, comme des vidéoclips et des animations. Comme les témoins de navigation, les témoins Flash (et les autres applications du même type) se servent d’une technologie pour garder en mémoire vos paramètres, vos préférences et votre utilisation du site Web, mais ils ne sont pas gérés par la même interface que celle de votre navigateur Web. Pour de plus amples renseignements sur la façon de gérer les témoins Flash et les témoins Silverlight, veuillez consulter les politiques de confidentialité et de partage des données de leurs sites Web respectifs.<br>
                    Les pixels invisibles, ou pixels-espions sont de minuscules images graphiques placées sur les pages du site Web ou dans nos courriels qui nous permettent de déterminer si vous avez exécuté une action particulière. Lorsque vous accédez à ces pages ou cliquez sur un courriel, les pixels invisibles ou espions nous informent de votre action. Ces outils nous permettent de mesurer la réponse à nos communications et d’améliorer nos pages Web et nos offres promotionnelles en ligne. Nous recueillons de nombreux types de données grâce à des témoins et à d’autres technologies. Par exemple, nous pouvons recueillir des données sur le dispositif que vous utilisez pour accéder à notre site Web, le type de système d’exploitation et de navigateur que vous avez, le domaine et les autres paramètres du système, la langue que votre système utilise ainsi que le pays et le fuseau horaire dans lesquels se trouve votre dispositif. De plus, nos journaux de serveur enregistrent l’adresse IP du dispositif que vous utilisez pour vous connecter à Internet. Une adresse IP est un identificateur unique que les dispositifs utilisent pour s’identifier et communiquer les uns avec les autres sur Internet.<br><br>
                    Nous pouvons aussi recueillir des données sur le site Web que vous avez visité avant de vous rendre sur le site d’Allergan et sur celui que vous visiterez après avoir quitté notre site.<br>
                    Dans de nombreux cas, les données que nous recueillons à l’aide de témoins et d’autres outils sont utilisées uniquement d’une façon qui ne permet pas de vous identifier, sans aucune mention de vos données personnelles. Par exemple, nous utilisons les données que nous recueillons sur tous les utilisateurs de nos sites Web pour optimiser nos sites et comprendre les tendances de l’achalandage de nos sites Web.<br>
                    Dans certains cas, nous associons à vos données personnelles les données que nous recueillons à l’aide de témoins et d’autres technologies. La présente politique de confidentialité régit la façon dont nous utilisons toutes ces données lorsque nous les associons à vos données personnelles.<br>
                    Allergan fait appel à des agences de publicité tierces pour placer des publicités sur le présent site et sur d’autres sites Web, pour faire des suivis et produire des rapports sur ce site et sur d’autres sites Web.<br>
                    Ces agences de publicité tierces peuvent placer des témoins dans votre ordinateur lorsque vous visitez notre site Web ou d’autres sites Web afin d’afficher des publicités ciblées à votre intention. En plaçant leurs témoins, ces agences de publicité tierces ne recueillent aucune donnée personnelle, et nous ne leur fournissons aucune donnée personnelle dans le cadre de ce processus. Cependant, la présente politique de confidentialité ne couvre pas les méthodes de collecte de données de ces fournisseurs ni l’utilisation qu’ils font des données recueillies. Pour de plus amples renseignements sur la publicité de tiers, veuillez vous rendre sur le site Web de la Network Advertising Initiative (NAI) à l’adresse <a href="https://www.networkadvertising.org/" target="_blank">www.networkadvertising.org</a>.
                </p>

                <p>
                    7. Modules d’extension pour médias sociaux<br>
                    Ce site Web utilise des modules d’extension pour médias sociaux (p. ex. le bouton «&nbsp;J’aime&nbsp;» de Facebook, le bouton «&nbsp;Tweet&nbsp;» de Twitter) pour vous permettre de partager facilement de l’information avec d’autres personnes. Lorsque vous visitez notre site Web, l’opérateur du module d’extension peut placer un témoin dans votre ordinateur, ce qui lui permet de reconnaître les personnes qui sont déjà venues sur notre site. Si vous ouvrez une session sur le site Web d’un média social (p. ex. Facebook, Twitter) pendant que vous naviguez sur notre site Web, les modules d’extension permettront au site Web de ce média social de partager les données sur vos activités sur notre site Web avec d’autres utilisateurs du site Web du média social. Par exemple, les modules d’extension de Facebook permettent à ce média social de montrer à vos amis Facebook vos «&nbsp;J’aime&nbsp;» et vos commentaires qui figurent sur nos pages. Les modules d’extension de Facebook vous permettent aussi de voir les activités de vos amis Facebook sur notre site Web. Allergan n’exerce aucun contrôle sur le contenu provenant des modules d’extension des médias sociaux. Pour de plus amples renseignements sur les modules d’extension d’autres sites Web de médias sociaux, veuillez consulter les politiques de confidentialité et de partage des données de ces sites Web.
                </p>

                <p>
                    8. Signaux d’interdiction de suivi et autres mécanismes semblables<br>
                    Certains navigateurs Web peuvent transmettre des signaux d’interdiction de suivi aux sites Web avec lesquels ils communiquent. Actuellement, les sites Web liés à la présente politique de confidentialité ne répondent pas à ces signaux d’interdiction de suivi.
                </p>

                <p>
                    9. Fonctions Parlez-en à un ami<br>
                    Allergan offre la fonction «&nbsp;Parlez-en à un ami&nbsp;» sur ses sites Web. Si vous choisissez d’utiliser cette fonction, nous recueillerons les coordonnées de cet ami. Nous enverrons automatiquement à votre ami un courriel unique contenant les renseignements que vous avez précisés ou l’invitant à visiter le site Web. Allergan utilise ces coordonnées dans le seul but d’envoyer ce courriel unique et ne les conserve pas.
                </p>

                <p>
                    10. Vos choix<br>
                    Vous pouvez toujours limiter les données que vous fournissez à Allergan; cependant, si vous choisissez de ne pas fournir certains renseignements demandés, vous pourriez ne pas avoir accès à certains des services, des offres et des contenus de nos sites Web. Vous pouvez aussi limiter les communications qu’Allergan pourrait vous envoyer en suivant une procédure simple pour vous désinscrire. Il suffit de suivre les instructions qui figurent dans nos courriels publicitaires ou promotionnels pour vous désinscrire afin de ne plus recevoir aucune autre communication promotionnelle à l’avenir.<br>
                    Veuillez noter que même si vous vous désinscrivez afin de ne plus recevoir de courriels promotionnels, nous pourrions quand même devoir prendre contact avec vous pour vous communiquer des données transactionnelles importantes sur votre compte ou vos achats. Par exemple, même si vous vous désinscrivez afin de ne plus recevoir de courriels publicitaires ou promotionnels, nous continuerons de vous envoyer une confirmation lorsque vous achetez quelque chose sur notre site Web ainsi que les communications relatives à l’innocuité des produits.<br>
                    Vous pouvez gérer les préférences relatives aux témoins et exercer l’option de refus des témoins et des autres technologies de collecte de données utilisées en ajustant les paramètres de votre navigateur. Comme tous les navigateurs diffèrent, consultez la section «&nbsp;Aide&nbsp;» de votre navigateur pour savoir comment gérer vos préférences relatives aux témoins et ajuster les autres paramètres de confidentialité possibles.<br>
                    Vous pouvez refuser d’être ciblé par les agences de publicité tierces qui sont membres de la NAI en vous rendant en ligne à l’adresse <a href="https://www.networkadvertising.org/" target="_blank">www.networkadvertising.org</a>.<br>
                    Vous pouvez retirer votre consentement à la collecte, à l’utilisation ou à la divulgation de vos données personnelles à tout moment, sous réserve de toute restriction juridique ou contractuelle. Le retrait de votre consentement ne sera pas rétroactif et pourrait vous empêcher d’avoir accès à nos services, nos offres et nos contenus.
                </p>

                <p>
                    11. Accès et correction<br>
                    Allergan prend des mesures raisonnables pour s’assurer que les données personnelles qu’elle détient sont exactes et à jour, et elle respecte votre droit d’accéder à vos données personnelles et de les corriger. Vous pouvez demander d’accéder à vos données personnelles ou corriger ces données à tout moment, en communiquant avec nous par courriel à l’adresse <a href="mailto:IR-PRIVACY@allergan.com">IR-PRIVACY@allergan.com</a>, ou directement, en ouvrant une session et en accédant à votre compte en ligne, si vous en avez un Vous pouvez aussi nous écrire à l’adresse qui figure dans la section Pour nous joindre ci-dessous. Si vous nous faites parvenir une lettre, veuillez nous fournir votre nom, votre adresse postale et votre adresse électronique ainsi que des renseignements détaillés sur la ou les modifications que vous souhaitez apporter.
                </p>

                <p>
                    12. Sécurité des données<br>
                    Allergan a mis en place un programme de sécurité des données qui contient des mesures de contrôle administratif, technique et physique conçues pour protéger de manière raisonnable vos données personnelles contre toute utilisation illégale et divulgation non autorisée.
                </p>

                <p>
                    13. Divulgation au propriétaire ou exploitant subséquent<br>
                    Si une partie ou la totalité d’Allergan est vendue ou fusionne avec une autre entité, il se pourrait que les données qu’elle détient sur vous soient transférées à un tiers dans le cadre de cette transaction. Nous essaierons de faire en sorte qu’aucune des données personnelles transférées ne soit utilisée ou communiquée d’une manière incompatible avec la présente politique de confidentialité sans votre consentement. Cependant, en cas de vente ou de fusion, le fait que vous continuiez de fréquenter ce site signifie que vous acceptez d’être lié par la politique de confidentialité du propriétaire ou de l’exploitant subséquent ou par toute autre condition applicable énoncée par celui-ci.
                </p>

                <p>
                    14. Consentement au traitement des données aux États-Unis et ailleurs<br>
                    Ce site appartient à Allergan et est exploité par cette société au Canada, mais nos sociétés affiliées et nos fournisseurs dans d’autres pays ont accès aux données que vous lui fournissez. En outre, si vous visitez ce site à partir d’un pays autre que le Canada, les données que vous nous fournirez pendant votre communication avec nous traverseront forcément des frontières internationales.
                </p>
            </div>

            <div class="col-lg-6">
                <p>
                    La protection des données personnelles garantie par la loi n’est pas la même dans tous les pays. Cependant, nous prendrons les mesures de sécurité décrites dans la présente politique de confidentialité afin de protéger la sécurité de vos données. En utilisant ce site, vous consentez à la collecte, à l’entreposage et au traitement de vos données aux États-Unis et dans tout autre pays où vos données pourraient être transférées dans le cadre de nos activités commerciales.<br>
                    Il est entendu et convenu que les organismes chargés de l’application des lois et les autres autorités peuvent avoir accès à vos données personnelles sur leur territoire.
                </p>

                <p>
                    15. Politiques de confidentialité des tiers<br>
                    La présente politique de confidentialité concerne uniquement l’utilisation et la divulgation de données par Allergan. Il arrive que nous fournissions des liens vers des sites Web externes ou des publicités de tiers qui ont leurs propres politiques de confidentialité et leurs propres pratiques en matière de collecte, d’utilisation et de divulgation des données. Nos distributeurs, fournisseurs et partenaires d’affaires indépendants ont, eux aussi, leurs propres politiques de confidentialité. Nous vous incitons à vous familiariser avec les politiques de confidentialité de tous les tiers avant de leur fournir des données ou de profiter d’une offre ou d’une promotion.
                </p>

                <p>
                    16. Confidentialité des données fournies par un enfant<br>
                    Le site Web d’Allergan et ses applications ne sont pas conçus pour attirer les enfants et nous ne recueillons sciemment les données personnelles d’aucune personne âgée de moins de 13 ans. Si vous croyez que votre enfant utilise notre site Web, veuillez communiquer avec nous à l’adresse <a href="mailto:IR-PRIVACY@allergan.com">IR-PRIVACY@allergan.com</a> pour que nous puissions enquêter et supprimer toute donnée inappropriée.
                </p>

                <p>
                    17. Forums, critiques de produits et autres espaces publics<br>
                    Nos sites Web peuvent contenir des forums et d’autres espaces où l’on peut afficher publiquement des critiques de produits, communiquer avec d’autres personnes et soumettre du contenu média. Avant d’afficher quoi que ce soit dans ces espaces, veuillez lire attentivement nos conditions d’utilisation. Vous n’avez aucun droit à la protection de vos données personnelles lorsque vous affichez dans ces espaces publics. Toutes les données affichées seront accessibles à quiconque a accès à Internet et toute donnée personnelle qui s’y trouve pourra être lue, recueillie et utilisée par d’autres. Par exemple, si vous affichez votre adresse électronique dans une critique de produit, vous pourriez recevoir des messages non sollicités. Veuillez faire preuve de prudence lorsque vous affichez des données personnelles.
                </p>

                <p>
                    18. Candidats à un emploi<br>
                    Si vous avez postulé un emploi chez Allergan, les données personnelles que vous avez fournies sur votre demande d’emploi seront utilisées pour traiter et étudier celle-ci. Allergan ne vendra les données qui figurent sur votre demande à aucune société tierce non affiliée pour leurs besoins promotionnels. Il se pourrait toutefois que nous communiquions les données figurant sur votre demande d’emploi à des recruteurs, à des consultants, à des avocats, à des services de vérification des références ou à nos sociétés affiliées.<br>
                    Les données figurant sur votre demande pourraient aussi être utilisées à certaines fins réglementaires, juridiques ou de conformité, conformément à la présente politique de confidentialité.<br>
                    Dans la mesure où vos données personnelles contiennent des détails sur votre race ou votre origine ethnique, vos opinions ou vos convictions politiques, vos croyances religieuses, votre adhésion à un syndicat ou à un parti politique, votre santé physique ou mentale, votre vie sexuelle, la perpétration (ou la perpétration alléguée), par vous, d’une infraction ou la poursuite en lien avec la perpétration de cette infraction, vos évaluations de rendement ou votre dossier scolaire, vous donnez à Allergan l’autorisation expresse d’utiliser ces détails pour traiter votre demande d’emploi et aux autres fins décrites dans la présente politique.<br>
                    Lorsque vous nous soumettez des données en ligne, celles-ci sont envoyées aux États-Unis où elles seront protégées en vertu des lois américaines, qui peuvent être différentes des lois de votre pays et que votre pays pourrait considérer comme n’offrant pas une protection suffisante en matière de confidentialité. Si vous n’acceptez pas que la soumission des données fournies sur votre demande d’emploi soit régie uniquement par les lois des États-Unis, Allergan refusera votre demande d’emploi.
                </p>

                <p>
                    19. Modifications à la présente politique de confidentialité<br>
                    Nous n’utiliserons les données personnelles que de la manière décrite dans la présente politique de confidentialité en vigueur au moment où les données ont été recueillies auprès de vous. Cependant, nous nous réservons le droit de modifier les termes de la présente politique de confidentialité à tout moment en affichant les modifications sur notre site. Si nous apportons une modification importante à la présente politique, nous vous en aviserons ou nous afficherons un avis bien en vue sur notre site Web. Si, à un moment quelconque, nous décidions d’utiliser vos données personnelles d’une manière différente de celle énoncée au moment de leur collecte, nous vous donnerons le choix de permettre ou d’interdire toute utilisation ou divulgation des données personnelles qui permettent de vous identifier, à l’exception de celles énoncées dans la présente politique de confidentialité au moment où vos données ont été recueillies. <br>
                    Toute partie de cette politique est nulle dans la mesure où elle est interdite par une loi applicable.
                </p>

                <p>
                    20. Politique de protection du numéro d’assurance sociale<br>
                    Allergan pourrait recueillir des numéros d’assurance sociale là où la loi l’exige. Allergan a mis en œuvre des mesures de protection technique, physique et administrative raisonnables pour aider à prévenir l’utilisation illégale ou la divulgation non autorisée des numéros d’assurance sociale. Tous les employés d’Allergan doivent suivre ces procédures établies, en ligne comme hors ligne. En particulier&nbsp;:
                    <ul>
                        <li>
                            seuls les employés et les fournisseurs de services qui ont besoin des numéros d’assurance sociale pour effectuer des tâches pour le compte d’Allergan peuvent avoir accès à ces numéros. Les numéros d’assurance sociale ne sont divulgués à des tiers que conformément à la politique de confidentialité établie d’Allergan;
                        </li>
                        <li>
                            Nous divulguerons les numéros d’assurance sociale seulement (i) aux fournisseurs de services, aux auditeurs, aux conseillers et aux ayants cause qui ont l’obligation légale ou contractuelle de les protéger ou (ii) dans la mesure où la loi nous le permet ou nous y oblige.
                        </li>
                    </ul>
                </p>

                <p>
                    21. Pour nous joindre<br>
                    Veuillez communiquer avec nous si vous avez des questions ou des commentaires sur nos pratiques et nos choix en matière de confidentialité ou sur la présente politique de confidentialité. Vous pouvez toujours nous joindre par courriel à l’adresse <a href="mailto:IR-PRIVACY@allergan.com">IR-PRIVACY@allergan.com</a>. Vous pouvez également nous joindre par la poste à l’adresse indiquée ci-dessous. Si vous nous faites parvenir une lettre, veuillez nous indiquer votre nom, votre adresse postale, votre adresse électronique ainsi que des renseignements sur la communication que vous ne voulez pas recevoir.<br>
                    Allergan Inc.<br>
                    À l’attention du Bureau mondial de la protection des renseignements personnels<br>
                    85, boul. Enterprise, bureau 500<br>
                    Markham (Ontario) L6G 0B5<br>
                </p>

                <p>
                    Conditions d’utilisation<br>
                    Dernière mise à jour&nbsp;: 9 avril 2019<br>
                    Les présentes conditions d’utilisation constituent une entente contraignante entre vous et Allergan; elles régissent votre accès au site et votre utilisation du site, y compris les renseignements, données, outils, produits, services et autres éléments de contenu (collectivement appelés le «&nbsp;contenu&nbsp;») disponibles sur le site ou par l’entremise du site.<br>
                    VEUILLEZ LIRE ATTENTIVEMENT LES PRÉSENTES CONDITIONS D’UTILISATION AVANT D’ACCÉDER AU SITE. CHAQUE FOIS QUE VOUS ACCÉDEZ AU SITE, VOTRE UTILISATION DE CE DERNIER SIGNIFIE VOTRE ACCEPTATION SANS RÉSERVE DESDITES CONDITIONS ET VOTRE ENGAGEMENT À VOUS Y CONFORMER DANS LEUR FORME ACTUELLE. SI VOUS N’ACCEPTEZ PAS LES CONDITIONS ÉNONCÉES DANS LES PRÉSENTES CONDITIONS D’UTILISATION, NOUS VOUS PRIONS DE QUITTER LE SITE.<br>
                    Comme il peut nous arriver de modifier les conditions d’utilisation de temps à autre, nous vous recommandons de les passer en revue périodiquement.<br>
                    Allergan vous octroie un droit limité d’utiliser le site strictement à des fins privées, non commerciales et informatives et d’imprimer des pages du site uniquement en lien avec lesdites fins. Il vous est interdit de modifier, de distribuer, de transmettre, d’exécuter, de reproduire, de publier, d’autoriser ou de créer des œuvres dérivées de tout contenu ou encore de céder ou de vendre tout contenu, y compris tout texte, élément graphique, logo et autre symbole, dessin, icône, image identifiant la source, ou autre renseignement, logiciel ou code obtenu du site. Il vous est également interdit de supprimer quelque droit d’auteur, marque de commerce, autre avis de droit de propriété ou légende que ce soit contenus dans le site (ou imprimés à partir du site) ou sur toute page imprimée. De plus, il vous est interdit de décomposer, de décompiler, de désosser, de désassembler ou de déconstruire de quelque autre façon que ce soit le site en totalité ou en partie.
                </p>

                <p>
                    Avertissement concernant les conseils d’ordre médical<br>
                    ALLERGAN NE FOURNIT AUCUN RENSEIGNEMENT SUR CE SITE AVEC L’INTENTION DE DONNER DES CONSEILS MÉDICAUX OU DES INSTRUCTIONS SUR L’UTILISATION APPROPRIÉE DE SES PRODUITS. ALLERGAN NE PEUT RÉPONDRE À AUCUN COURRIEL NON SOLLICITÉ DEMANDANT DES CONSEILS MÉDICAUX PERSONNELS. LES VISITEURS DOIVENT TOUJOURS CONSULTER UN PROFESSIONNEL DE LA SANTÉ AVANT DE PRENDRE UNE DÉCISION OU D’AGIR OU NON CONCERNANT UN PROBLÈME DE SANTÉ QU’ILS POURRAIENT AVOIR MAINTENANT OU À L’AVENIR.
                </p>

                <p>
                    Politique de confidentialité<br>
                    La politique de confidentialité de Allergan fait partie des présentes conditions d’utilisation. L’utilisation de ce site indique votre consentement à la collecte et à l’utilisation de vos données personnelles conformément aux dispositions de la politique de confidentialité.<br>
                    Droits d’auteur et marques de commerce<br>
                    Le site et son contenu contiennent des documents protégés par un droit d’auteur, des marques de commerce ainsi que d’autres œuvres exclusives qui appartiennent à Allergan, à ses sociétés affiliées ou à des tiers et qui sont protégés par les lois sur la propriété intellectuelle des États-Unis et d’autres pays.<br>
                    Vous devriez présumer que tout le contenu du site est protégé par un droit d’auteur, sauf indication contraire, et qu’il ne peut être utilisé, copié, reproduit, téléchargé, modifié, publié, distribué, transmis ni exploité, en tout ou en partie, sous quelque forme ou par quelque moyen que ce soit, sauf dans les limites prévues aux présentes, sans l’autorisation écrite expresse d’Allergan ou du créateur original de l’œuvre.<br>
                    Les noms de produit, les logos, les marques de commerce et les marques de service qui sont utilisés ou affichés sur le site (collectivement appelés les «&nbsp;marques de commerce&nbsp;») sont des marques de commerce déposées, ou non, et appartiennent exclusivement à Allergan ou à ses sociétés affiliées. Aucune utilisation des marques de commerce ne peut être faite sans l’autorisation écrite préalable d’Allergan, sauf pour identifier des produits ou des services de la société. Les autres noms de produit, logos, marques de commerce et marques de service qui figurent sur le site et qui n’appartiennent pas à Allergan ne peuvent être utilisés sans l’autorisation expresse de son propriétaire.<br>
                    Aucune des dispositions aux présentes ne doit être interprétée comme accordant par implication, préclusion ou de quelque autre façon que ce soit une licence ou un droit, expressément ou implicitement, en vertu d’un droit de propriété d’Allergan ou d’un tiers.<br>
                    Responsabilité de l’utilisateur<br>
                    Chaque personne assume l’entière responsabilité de l’utilisation du site et de tous les risques ui s’y rattachent.<br>
                    EN AUCUN CAS ALLERGAN, SES SOCIÉTÉS AFFILIÉES ET LEURS DIRIGEANTS, ADMINISTRATEURS, EMPLOYÉS, AGENTS, REPRÉSENTANTS, FOURNISSEURS DE DONNÉES ET CONCÉDANTS RESPECTIFS AINSI QUE LEURS HÉRITIERS ET AYANTS DROIT RESPECTIFS NE SERONT TENUS RESPONSABLES DES DOMMAGES DE TOUTE SORTE OU DE TOUTE NATURE, NOTAMMENT DES DOMMAGES DIRECTS, INDIRECTS, ACCESSOIRES, CONSÉCUTIFS, EXEMPLAIRES, SPÉCIAUX (Y COMPRIS LA PERTE DE PROFITS), PUNITIFS OU AUTRES DÉCOULANT DE L’EXISTENCE OU DE L’UTILISATION DU SITE OU LIÉS À SON EXISTENCE OU À SON UTILISATION, ET CE, PEU IMPORTE QU’ALLERGAN OU UNE AUTRE DES ENTITÉS OU DES PERSONNES ÉNUMÉRÉES CI-DESSUS AIENT ÉTÉ INFORMÉES DE LA POSSIBILITÉ DE TELS DOMMAGES, Y COMPRIS DES DOMMAGES À VOTRE MATÉRIEL INFORMATIQUE ET DES VIRUS POUVANT L’INFECTER.<br>
                    SI VOUS UTILISEZ CE SITE OU TOUT RENSEIGNEMENT, PRODUIT OU SERVICE QUI Y SONT OFFERTS, VOUS LE FAITES À VOS PROPRES RISQUES. IL PEUT Y AVOIR DES RETARDS, DES OMISSIONS, DES INTERRUPTIONS, DES INEXACTITUDES OU D’AUTRES PROBLÈMES TOUCHANT LES RENSEIGNEMENTS, LES PRODUITS ET LES SERVICES PUBLIÉS DANS CE SITE OU DONT CE DERNIER FAIT LA PROMOTION.<br>
                    SANS LIMITER LA PORTÉE DE CE QUI PRÉCÈDE, TOUS LES ÉLÉMENTS DU SITE VOUS SONT FOURNIS TELS QUELS ET ALLERGAN NE FAIT AUCUNE DÉCLARATION NI NE DONNE AUCUNE GARANTIE DE QUELQUE SORTE OU DE QUELQUE NATURE QUE CE SOIT RELATIVEMENT AU SITE.<br>
                    PAR LES PRÉSENTES, ALLERGAN DÉCLINE TOUTE DÉCLARATION ET GARANTIE, EXPRESSE OU IMPLICITE, CRÉÉE EN VERTU D’UNE LOI, D’UN CONTRAT OU AUTREMENT, NOTAMMENT TOUTE GARANTIE DE QUALITÉ MARCHANDE, D’ADAPTATION À UN USAGE PARTICULIER, DE TITRE OU D’ABSENCE DE CONTREFAÇON.<br>
                    ALLERGAN NE FAIT AUCUNE DÉCLARATION SELON LAQUELLE LE SITE SERA ACCESSIBLE EN TEMPS OPPORTUN ET SANS INTERRUPTION OU QUE L’INFORMATION CONTENUE DANS LE SITE SERA À JOUR OU EXEMPTE D’ERREURS ET NE DONNE AUCUNE GARANTIE EN CE SENS.<br>
                    Veuillez prendre note que certains territoires n’autorisent pas l’exclusion de garanties implicites; il est donc possible que certaines des exclusions ci-dessus ne s’appliquent pas à vous. Renseignez-vous sur les lois en vigueur dans votre région relatives à toute restriction ou limitation concernant l’exclusion de garanties implicites. Si Allergan n’est pas en droit d’exclure une garantie implicite ou de limiter ses responsabilités, alors la portée et la durée de ladite garantie ainsi que l’étendue de la responsabilité d’Allergan seront égales au minimum prévu par la loi en vigueur.<br>
                    VOUS ACCEPTEZ D’INDEMNISER ALLERGAN, SES SOCIÉTÉS AFFILIÉES, MANDATAIRES, FOURNISSEURS ET CONCÉDANTS AINSI QUE LEURS EMPLOYÉS, PROPRIÉTAIRES ET REPRÉSENTANTS RESPECTIFS DE TOUTE RÉCLAMATION, DE QUELQUE NATURE QU’ELLE SOIT, QUI DÉCOULE DE TOUT MANQUEMENT DE VOTRE PART À LA PRÉSENTE ENTENTE OU DE VOTRE UTILISATION DE CE SITE, ET CE, DANS TOUTE LA MESURE PERMISE PAR LA LOI.<br>
                    De plus, il est entendu que toute réclamation relative à ce site doit être déposée dans une période d’un an après la survenance de la cause de la réclamation.<br>
                    Données non personnelles<br>
                    Les données non personnelles que vous transmettez à ce site ou publiez sur ce site, par courrier électronique ou par tout autre moyen, y compris les données, questions, commentaires, suggestions ou autres éléments similaires, seront traités comme du contenu non confidentiel et non exclusif, et Allergan n’a aucune obligation de quelque nature que ce soit relativement à ces données. Allergan et ses sociétés affiliées peuvent utiliser ces données à toute fin conforme aux lois et règlements applicables, notamment à des fins de reproduction, de divulgation, de transmission, de publication, de diffusion et de mise en ligne ultérieure.<br>
                    De plus, Allergan et ses sociétés affiliées sont libres d’utiliser ces données, notamment tout concept, idée, savoir-faire ou technique qu’elles contiennent, à quelque fin que ce soit, notamment à des fins de recherche, de développement, de fabrication et de commercialisation de produits intégrant ces données. Veuillez consulter notre politique de confidentialité pour de plus amples renseignements.<br>
                    Liens vers d’autres sites Web<br>
                    Vous êtes libre d’établir un hyperlien vers le présent site pour autant que cet hyperlien n’énonce pas ou ne laisse pas sous-entendre une approbation ou une commandite d’Allergan à l’endroit de vous-même, de votre entreprise ou de votre site. Sans l’autorisation écrite préalable d’Allergan, il ne vous est pas permis d’encadrer ni d’extraire le contenu du présent site ni d’intégrer dans un autre site Web ou un autre service toute propriété intellectuelle d’Allergan.<br>
                    Liens vers des sites Web d’Allergan<br>
                    Allergan encourage d’autres sites Web à inclure un lien vers le présent site, pourvu qu’il soit conforme aux lignes directrices énoncées aux présentes. Les liens vers le présent site en provenance d’autres sites doivent être en format texte seulement et ne peuvent inclure le logo ni aucune autre propriété intellectuelle d’Allergan. Il est strictement interdit de laisser entendre qu’Allergan approuve ou recommande une société, un produit ou un service particuliers.<br>
                    Liens des sites Web d’Allergan<br>
                    Le présent site peut comporter des liens vers d’autres sites. Ces liens sont fournis à des fins pratiques seulement. Allergan n’est pas responsable du contenu ou de l’exactitude des données contenues dans d’autres sites ni des pratiques d’autres sites en matière de protection des renseignements personnels. Allergan décline toute responsabilité à l’égard des dommages ou des préjudices découlant du contenu d’autres sites. Les liens vers des sites tiers ne constituent pas une recommandation ni un appui à l’endroit de toute autre entité ou de tout autre élément ou service. Vous exonérez Allergan et ses sociétés affiliées de toute responsabilité à l’égard de préjudices que vous pourriez subir et convenez de ne faire valoir aucun droit contre elles en lien avec votre achat ou votre utilisation de données, de produits ou de services fournis par des tiers.<br>
                    Compétence<br>
                    Aucun élément de contenu sur le site ne doit être interprété comme une forme de sollicitation ou de promotion de produits ou de leur utilisation qui n’est pas autorisée dans le pays où le lecteur se situe physiquement. Ce site fournit de l’information sur des produits ou des utilisations qui ne sont pas forcément accessibles dans certains pays. La vente ou l’utilisation de certains des produits mentionnés peut, dans certains pays, être approuvée ou autorisée par les autorités réglementaires en fonction d’indications, de doses et de restrictions différentes<br>
                    Déclarations prospectives<br>
                    Ce site contient de l’information prospective comportant des risques et des incertitudes, notamment des risques et des incertitudes en ce qui concerne la recherche et développement, le développement clinique, les autorisations réglementaires et le processus réglementaire, notre utilisation de tiers fabricants, la commercialisation de produits, la concurrence, les brevets, la responsabilité en matière de produits, le remboursement de tierces parties ainsi que d’autres risques et incertitudes exposés en détail de temps à autre dans les rapports que nous déposons périodiquement auprès de la Securities and Exchange Commission des États-Unis. Ces risques et des incertitudes peuvent faire en sorte que l’information réelle diffère considérablement de cette information prospective.<br>
                    Réserve de droits<br>
                    Allergan se réserve le droit de modifier ou de supprimer du contenu de ce site en tout temps et sans préavis. Nous vous prions de vérifier souvent s’il y a eu des mises à jour, car nous nous réservons le droit, à notre seule discrétion, de modifier les présentes conditions d’utilisation en tout temps et, en utilisant le site, vous indiquez que vous acceptez toute modification apportée à ces conditions.<br>
                    Le manquement d’Allergan dans l’exercice d’un droit ou l’application d’une disposition des présentes conditions d’utilisation ne constitue en rien une renonciation à ce droit ou à cette disposition. Si l’une des dispositions des présentes conditions d’utilisation est jugée illégale, nulle ou non exécutoire, elle sera retirée et n’aura aucun effet sur la validité ou le caractère exécutoire des dispositions restantes. Si l’une des dispositions des présentes conditions d’utilisation est jugée invalide ou non exécutoire dans un territoire, ladite disposition est alors réputée «&nbsp;modifiée&nbsp;» dans la mesure nécessaire pour la rendre valide ou exécutoire, et les présentes conditions d’utilisation sont interprétées de telle manière que leur intention soit respectée dans toute la mesure du possible sur le territoire en cause. Ledit amendement ou ladite invalidité ou inapplicabilité sera limité strictement à la disposition et au territoire en cause.<br>
                    Allergan peut céder son droit de propriété, son droit de contrôle ou ses autres droits à toute autre partie en tout temps et sans vous en aviser. Vous ne pouvez pas céder vos droits et obligations sans le consentement écrit d’Allergan. Aucune disposition des présentes conditions d’utilisation n’accorde à une tierce partie quelque recours, droit de réclamation ou cause d’action que ce soit.
                </p>
            </div>
        </div>

    </div>
</section>
