
@{
    ViewBag.Title = "Legal Notice and Privacy";
}

@section headings
{
    <h1>Find a Botox<sup>&reg;</sup> specialist</h1>
    <h2 class="mt-5"><span>Find a local </span>physician<span> <br class="d-none d-md-block">experienced in using botox<sup>&reg;</sup></span></h2>
}

<section id="main" class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-purple-arrow-left" })
            </div>
        </div>
    </div>
</section>

<section class="dark">
    <div class="container pt-5 pb-5">

        <div class="row micetype mt-3 mb-5">

            <div class="col-lg-6">
                <p>
                    <strong>LEGAL NOTICE AND PRIVACY PAGE</strong>
                </p>

                <p>Effective as of April 9, 2019.</p>

                <p><strong>Allergan Canada Privacy Statement</strong></p>

                <p>
                    Allergan plc and its global affiliates (hereafter “Allergan”) collect Personal Data in order to serve you and communicate with you. This Privacy Statement explains how Allergan collects, uses, and discloses your Personal Data and answers specific questions that you may have regarding privacy and security.<br>

                    This Privacy Statement applies to the operation of Canadian websites and other applications (including mobile applications), that directly link to this statement. Allergan’s global affiliates may have additional privacy statements which are specifically tailored to the laws in those countries. Those privacy statements are available when you click on “Privacy” in the footer of our affiliate websites.
                </p>

                <p>
                    1. Consent to Processing in the United States and Elsewhere Outside of Canada<br>

                    This site is owned and operated by Allergan in Canada, but the data you provide will be stored and processed in the United States and will be accessible to our affiliates, vendors, and suppliers in other countries outside of Canada. The level of legal protection for Personal Data is not the same in all countries. However, we will take the security measures and will use and disclose your Personal Data as described in this Privacy Statement. By using this site, you consent to the collection, storage, and processing of your data in the United States and in any country to which we may transfer your data in the course of our business operations.<br>

                    You understand and agree that your Personal Data may be accessible to law enforcement and other authorities within these jurisdictions.
                </p>

                <p>
                    2. Types of Personal Data Allergan May Collect<br>

                    This Privacy Statement explains our practices with regard to “Personal Data.” Personal Data is any information that can be used to identify, locate, or contact you. It also includes other information that may be associated with such Personal Data. Examples of types of Personal Data:
                    <ul>
                        <li>Contact Data, such as your name, email address, mailing address or phone numbers;</li>
                        <li>Relationship Data, including information about products, treatments and health conditions that are of interest to you;</li>
                        <li>Transaction Data, including purchases, inquiries, and information about how you use the Allergan websites and mobile applications;</li>
                        <li>Financial Account Data, such as your credit card number or Social Identification number;</li>
                        <li>Geo-location Data, as may be transmitted to us by your smart phone or other location-aware devices; and/or</li>
                        <li>Job Applicant Data, such as your Contact Data, resume, previous work experience, education, transcript, driver’s license information, Social Identification number (if required) or national identification number and information relating to references.</li>
                    </ul>
                </p>

                <p>
                    3. How Allergan Collects Personal Data<br>
                    In most cases, we collect Personal Data directly from you. We will ask you for Personal Data when you interact with us, such as registering on our websites, using any interactive features or applications, sign up to receive a newsletter or a rebate, participating in a saving program, making a direct purchase, or applying for employment. We may collect additional data from third party data suppliers who enhance our files or from social media sites such as Facebook, if you like our pages or join our communities.<br>
                    If you interact with us online, we use cookies and other technological tools to collect data about your computer and your use of our website and applications. If you use a mobile application that Allergan has developed, that application will inform you of the data that the mobile application collects and what information it may transfer to Allergan. You will be asked to consent for us to access geo-locational data or similar tracking data. We treat this data as Personal Data, only when it, or other data that is associated with it, can be used to identify you. For more information about cookies and other technologies, please see the “Cookies and Other Data Collection Technologies” below.
                </p>

                <p>
                    4. How Allergan Uses Personal Data<br>
                    Allergan may use your Personal Data for its business purposes, such as:
                    <ul>
                        <li>To respond to your requests for information, products, services, including managing your online accounts with us and providing warranty service for certain products;</li>
                        <li>To provide you with general health information (such as information on certain health conditions) as well as information about our products and services;</li>
                        <li>To provide you with marketing communications and offers for products and services, as permitted by applicable law;</li>
                        <li>To administer promotional programs, such as sweepstakes, rewards, and rebate programs;</li>
                        <li>To determine if you are eligible for certain products, services, or programs (such as patient savings programs);</li>
                        <li>If you have a business or professional relationship with Allergan, to develop our business relationship with you;</li>
                        <li>If you apply for a job via our career center, to consider you for employment;</li>
                        <li>For our research and development efforts;</li>
                        <li>To anonymize data so that it is no longer Personal Data</li>
                        <li>For product safety, such as adverse event reporting, or to communicate product safety information to you; and/or</li>
                        <li>For other everyday business purposes, such as payment processing and financial account management, product development, contract management, website administration, fulfillment, analytics, fraud prevention, corporate governance, reporting, and legal compliance.</li>
                    </ul>
                </p>

                <p>
                    5. When and Why Personal Data Is Disclosed by Allergan<br>
                    Allergan does not sell, share, or otherwise distribute your Personal Data with third parties for their marketing purposes. Allergan will share your Personal Data only in compliance with applicable laws and regulations. For example, we may share your Personal Data as follows:
                    <ul>
                        <li>We may share your Personal Data with your consent or as you direct. For example, we may share data with your doctor as part of programs in which you agree to participate.</li>
                        <li>We may share your Personal Data with our affiliated companies and product co- promotion partners, which may only use your Personal Data for the purposes listed herein.</li>
                        <li>We may share your Personal Data with our service providers, who are bound by law or contract to protect your Personal Data and only use your Personal Data in accordance with our instructions. For example, we may share your Personal Data with vendors who provide data processing or fulfillment services for us.</li>
                        <li>We may also disclose your Personal Data where needed to affect the sale or transfer of business assets, to investigate legal issues, enforce our rights, protect our property, or protect the rights, property or safety of others, or as needed support external auditing, compliance and corporate governance functions.</li>
                        <li>We may also disclose your Personal Data when requested under legal process or otherwise required by law, such as in response to a subpoena, including to law enforcement agencies and courts in the United States and other countries where we operate.</li>
                        <li>Please note that we may also disclose data about you that is not personally identifiable. For example, we may publish reports that contain aggregate and statistical data about our customers. These reports do not contain any data that would enable the recipient to contact, locate, or identify you.</li>
                    </ul>
                </p>

                <p>
                    6. Cookies and Other Data Collection Technologies<br>
                    When you visit our website or use our mobile applications, we collect certain data by automated means, using technologies such as cookies, pixel tags, browser analysis tools, server logs and web beacons.
                    For example, when you visit our website, we place cookies on your computer. Cookies are small text files that websites send to your computer or other Internet-connected device to uniquely identify your browser or to store data or settings in your browser. Cookies allow us to recognize you when you return. They also help us provide a customized experience and enable us to detect certain kinds of fraud.<br>
                    Allergan uses Flash Cookies (also known as Local Stored Objects), Microsoft Silverlight and similar technologies to personalize and enhance your online experience in compliance with Network Advertising Initiative standards. The Adobe Flash Player is an application that allows rapid development of dynamic content, such as video clips and animation. Flash Cookies (and similar applications) use technology to remember settings, preferences and usage similar to browser cookies, but these are managed through a different interface than the one provided by your web browser. For more information about how to manage Flash Cookies and/or Silverlight Cookies, you should refer to those sites’ privacy and data sharing statements.<br>
                    Pixel tags and web beacons are tiny graphic images placed on website pages or in our emails that allow us to determine whether you have performed a specific action. When you access these pages or open or click an email, the pixel tags and web beacons generate a notice of that action. These tools allow us to measure response to our communications and improve our web pages and promotions.<br>
                    We collect many different types of data from cookies and other technologies. For example, we may collect data about the device you use to access our website, your operating system type, browser type, domain, and other system settings, as well as the language your system uses and the country and time zone where your device is located. Our server logs also record the IP address of the device you use to connect to the Internet. An IP address is a unique identifier that devices use to identify and communicate with each other on the Internet. We may also collect data about the website you were visiting before you came to Allergan and the website you visit after you leave our site.<br>
                    In many cases, the data we collect using cookies and other tools is only used in a non- identifiable way, without any reference to Personal Data. For example, we use data we collect about all website users to optimize our websites and to understand website traffic patterns.<br>
                    In some cases, we do associate the data we collect using cookies and other technology with your Personal Data. This Privacy Statement governs how we use that all of this data when we associate it with your Personal Data.<br>
                    Allergan has relationships with third party advertising companies to place advertisements on this website and other websites, and to perform tracking and reporting functions for this website and other websites. These third party advertising companies may place cookies on your computer when you visit our website or other websites so that they
                    can display targeted advertisements to you. These third party advertising companies do not collect Personal Data in this process, and we do not give any Personal Data to them as part of this process. However, this Privacy Statement does not cover the collection methods or use of the data collected by these vendors. For more information about third party advertising, please visit the Network Advertising Initiative (NAI) at www. networkadvertising.org.
                </p>

                <p>
                    7. Social Media Plugins<br>
                    This website uses social medial plugins (e.g., the Facebook “Like” button, “Share to Twitter” button) to enable you to easily share information with others. When you visit our website, the operator of the social plugin can place a cookie on your computer, enabling that operator to recognize individuals who have previously visited our site. If you are logged into the social media website (e.g., Facebook, Twitter) while browsing on our website, the social plugins allow that social media websites to share data about your activities on our website with other users of their social media website. For example, Facebook Social Plugins allows Facebook to show your Likes and comments on our pages to your Facebook friends. Facebook Social Plugins also allows you to see your friends’ Facebook activity on our website. Allergan does not control any of the content from the social media plugins. For more information about social plugins from other social media websites you should refer to those sites’ privacy and data sharing statements.
                </p>

                <p>
                    8. Do-Not Track Signals and Similar Mechanisms<br>
                    Some web browsers may transmit “do-not-track” signals to websites with which the browser communicates. Websites linked to this Privacy Statement do not currently respond to these “do-not-track” signals.
                </p>

                <p>
                    9. Tell-A-Friend Functions<br>
                    Allergan offers “tell-a-friend” functionality on our websites. If you choose to use this function, we will collect Contact Data for your friend. We will automatically send your friend a one-time email with the information you specified or inviting him or her to visit the site. Allergan uses this data for the sole purpose of sending this one-time email and does not retain the data.
                </p>

                <p>
                    10. Your Choices<br>
                    You can always limit the data you provide to Allergan, but if you choose not to provide certain requested information, you may be unable to access some of the services, offers, and content on our websites. You can also limit the communications that Allergan ay send to you by following a simple opt-out process. Simply follow the instructions in our advertisement/promotional emails to opt-out of receiving future marketing communications.<br>
                    Please note that even if you opt-out of promotional emails, we may still need to contact you with important transactional data about your account or your purchase. For example, even if you opt-out of advertisement/promotional emails, we will still send you a confirmation when you purchase something from our website as well as product safety communications. You can manage cookie preferences and opt-out of having cookies and other data collection technologies used by adjusting the settings on your browser. All browsers are different, so visit the “Help” section of your browser to learn about cookie preferences and other privacy settings that may be available.<br>
                    You can opt-out of being targeted by those third party advertising companies that are NAI members online at www.networkadvertising.org.<br>
                    You can withdraw your consent to our collection, use, or disclosure of your Personal Data at any time, subject to legal and contractual restrictions. Your withdrawal of consent will not operate retroactively and may impact your ability to access our services, offers, and content.
                </p>

                <p>
                    11. Access and Correction<br>
                    Allergan takes reasonable measures to maintain updated and accurate Personal Data and we respect your right to access and correct your Personal Data. You may request access to or update your Personal Data at any time by contacting us via email at IR-PRIVACY@@allergan.com, or directly by logging into on your online account, should you have one. You can also write us at the address in the “How to Contact Us” section below. If you send us a letter, please provide your name, address, email address, and detailed information about the change(s) you would like to make.
                </p>

                <p>
                    12. Data Security<br>
                    Allergan has implemented a data security program that contains administrative, technical and physical controls that are designed to reasonably safeguard your Personal Data from unlawful use and unauthorized disclosure
                </p>

                <p>
                    13. Disclosure to Subsequent Owner or Operator<br>
                    If all or part of Allergan is sold or merged into another entity, the data we have about you may be transferred to a third party as part of that transaction. We will try to assure that no Personal Data that is transferred will be used or shared in a manner inconsistent with this Privacy Statement without your consent. However, in the event of a sale or merger, your continued use of this site signifies your agreement to be bound by the privacy statement and other applicable terms of the subsequent owner or operator.
                </p>

                <p>
                    14. Consent to Processing in the United States and Elsewhere<br>
                    This site is owned and operated by Allergan in Canada, but the data you provide will be accessible to our affiliates, vendors, and suppliers in other countries. Furthermore, if you are visiting this site from another country, other than Canada, your communication with us will necessarily result in the transfer of data across international boundaries. The level of legal protection for Personal Data is not the same in all countries. However, we will take the security measures described in this Privacy Statement in an effort to keep your data secure. By using this site, you consent to the collection, storage, and processing of your data in the United States and in any country to which we may transfer your data in the course of our business operations.
                </p>
            </div>

            <div class="col-lg-6">
                <p>
                    You understand and agree that your Personal Data may be accessible to law enforcement and other authorities within these jurisdictions.
                </p>

                <p>
                    15. Privacy Statements of Third Parties<br>
                    This Privacy Statement only addresses the use and disclosure of data by Allergan. We may provide links to outside websites or advertisements for third parties that have their own privacy statements and data collection, use and disclosure practices. Our independent dealers, suppliers and business partners have their own privacy statements too. We encourage you to familiarize yourself with the privacy statements provided by all third parties prior to providing them with data or taking advantage of an offer or promotion.
                </p>

                <p>
                    16. Children’s Privacy<br>
                    The Allergan website and applications are not intended to attract children, and we do not knowing collect any Personal Data of anyone under the age of 13. If you believe your child is using our website, please contact us at IR-PRIVACY@@allergan.com so we can investigate and delete any inappropriate data.
                </p>

                <p>
                    17. Forums, Product Reviews and Other Public Areas<br>
                    Our websites may contain forums and other areas where you can publicly post product reviews, communicate with others, and submit media content. Prior to posting in these areas, please read our Terms of Use carefully. You have no privacy rights in public postings. All the data you post will be accessible to anyone with Internet access, and any Personal Data you include in your posting may be read, collected, and used by others. For example, if you post your email address along with a product review, you may receive unsolicited messages. Please use caution when posting any Personal Data.
                </p>

                <p>
                    18. Job Applicants<br>
                    If you have applied for employment with Allergan, the Personal Data submitted with your job application will be used to process and consider your job application. Allergan will not sell the data on your application to unaffiliated third-parties for their marketing purposes. We may share the data on your applications with recruiters, consultants, attorneys, background services and our affiliates. The data on your application may also be used for certain regulatory, compliance and legal purposes, consistent with this Privacy Statement.<br>
                    To the extent the Personal Data you provide contains details of your: racial or ethnic origin; political opinions or beliefs; religious beliefs; membership in a trade union or political party; physical or mental health condition; sexual life; commission (or alleged commission) of an offence or related proceedings; job evaluations or educational records, you expressly authorize Allergan to handle such details for the purposes of your job application and for the other purposes described herein.<br>
                    By submitting data to us online, you are sending it to the United States, where it will be subject to the protections afforded under US laws that may be different from the laws in your country and which your country may consider not to provide adequate privacy protections. If you do not agree that your submission of your application data will be governed solely by United States law, Allergan will not accept your application.
                </p>

                <p>
                    19. Changes to this Privacy Statement<br>
                    We will only use Personal Data in the manner described in this Privacy Statement in effect when the data was collected from you. However, we reserve the right to change the terms of this Privacy Statement at any time by posting revisions to our site. If we make any material changes to this Privacy Statement, we will either notify you or place a prominent notice on our website. If at any point, we decided to use Personal Data in a manner different from that stated at the time it was collected, you will be given a choice to allow or disallow any additional uses or disclosures of your personally identifiable data, beyond that which was stated in this Privacy Statement at the time your data was collected.<br>
                    Any portions of this policy are void to the extent they are prohibited by applicable law.
                </p>

                <p>
                    20. Social Identification Number Protection Policy<br>
                    Allergan may collect Social Identification numbers where legally required. Allergan has implemented reasonable technical, physical and administrative safeguards to help protect the Social Identification numbers from unlawful use and unauthorized disclosure. All Allergan workers are required to follow these established procedures, both online and offline. In particular:
                    <ul>
                        <li>
                            Access to Social Identification numbers is limited to those workers and service providers who have a need to access the data to perform tasks for Allergan. Social Identification numbers are only disclosed to third parties in accordance with Allergan’s established Privacy Statement.
                        </li>
                        <li>
                            We will only disclose Social Identification numbers: (i) with those service providers, auditors, advisors, and/or successors in interest who are legally or contractually obligated to protect them, or (ii) as required or permitted by law.
                        </li>
                    </ul>
                </p>

                <p>
                    21. How to Contact Us<br>
                    Please contact us if you have any questions or comments about our privacy practices, your privacy choices, or this Privacy Statement. You can always reach us online at IR-PRIVACY@@allergan.com. You can reach us via mail at the address below. If you send us a letter, please provide your name, address, email address, and information about the communication that you do not want to receive.<br>
                    Allergan Inc.<br>
                    Attention: Global Privacy Office<br>
                    500 – 85 Enterprise Blvd.<br>
                    Markham, ON L6G 0B5<br>
                </p>

                <p>
                    Terms Of Use<br>
                    Updated: April 9, 2019<br>
                    These Terms of Use are a binding agreement between you and Allergan, and govern your access and use of the Site, which includes any information, data, tools, products, services and other content (together, “Content”) available on or through the Site.<br>
                    PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE ENTERING THE SITE. EACH TIME YOU ENTER THE SITE, YOUR USE INDICATES YOUR FULL ACCEPTANCE OF AND AGREEMENT TO ABIDE BY THESE TERMS OF USE IN THEIR THEN CURRENT FORM. IF YOU DO NOT ACCEPT THE TERMS AND CONDITIONS STATED IN THESE TERMS OF USE, PLEASE EXIT THE SITE.<br>
                    As we may revise these Terms of Use from time to time, you should review them periodically.<br>
                    Allergan grants you a limited right to use the Site only for your own private, non- commercial informational purposes only, and to print pages from the Site only in connection with that use. You may not modify, distribute, transmit, perform, reproduce, publish, license, create derivative works from, transfer or sell any Content, including any text, graphics, logos and other source-identifying symbols, designs, icons, images, or other information, software or code obtained from the Site. You are prohibited from removing any copyright, trademark or other proprietary notice or legend contained on (or printed from) the Site or on any printed pages. In addition, you are prohibited from decomposing, decompiling, reverse engineering, disassembling or otherwise deconstructing all or any portion of the Site.
                </p>

                <p>
                    Medical Advice Disclaimer<br>
                    NO INFORMATION IN THIS SITE IS PROVIDED WITH THE INTENTION TO GIVE MEDICAL ADVICE OR INSTRUCTIONS ON THE ACCURATE USE OF ALLERGAN PRODUCTS. ALLERGAN CANNOT ANSWER UNSOLICITED E-MAILS REQUESTING PERSONAL MEDICAL ADVICE. VISITORS SHOULD ALWAYS CONSULT A HEALTHCARE PROFESSIONAL PRIOR TO MAKING ANY DECISIONS, OR UNDERTAKING ANY ACTIONS OR NOT UNDERTAKING ANY ACTIONS RELATED TO ANY HEALTH CARE PROBLEM OR ISSUE YOU MIGHT HAVE AT ANY TIME, NOW OR IN THE FUTURE.
                </p>

                <p>
                    Privacy Statement<br>
                    Allergan’s Privacy Statement is a part of these Terms of Use. Use of this Site indicates
                    your consent to the collection and use of your Personal Data as set forth in the Privacy Statement.<br>
                    Copyrights and Trademarks<br>
                    The Site and the Content contain copyrighted materials, trademarks, and other proprietary materials that are owned by Allergan, its affiliates and/or third parties and are protected by intellectual property laws of the United States and other countries.<br>
                    You should assume that all Content of the Site is copyrighted unless otherwise noted
                    and may not be used, copied, reproduced, downloaded, modified, published, distributed, transmitted, or exploited, in whole or in part, in any form or by any means, except as provided herein and without the express written permission of Allergan or the original creator of the material.<br>
                    Product names, logos, trademarks, and service marks that are used or displayed on the Site (collectively, the “Trademarks”) are registered or unregistered trademarks and the exclusive property of Allergan or its affiliates. No use of the Trademarks may be made without Allergan’s prior written authorization, except to identify the product or services of the company. Other product names, logos, trademarks, and service marks appearing on the Site that are not owned by Allergan may not be used without express permission from its owner.
                    Nothing contained herein shall be construed as conferring by implication, estoppel, or otherwise any license or right, either express or implied, under any intellectual property of Allergan or any third party.<br>
                    User Responsibility<br>
                    Each person assumes full responsibility and all risks arising from use of the Site.<br>
                    IN NO EVENT SHALL ANY OF ALLERGAN, OUR AFFILIATES, AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, DATA PROVIDERS, AND LICENSORS AND THEIR RESPECTIVE HEIRS AND ASSIGNS BE LIABLE FOR ANY DAMAGES OF ANY KIND OR NATURE, INCLUDING, BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, SPECIAL (INCLUDING LOSS OF PROFIT), PUNITIVE, OR OTHER DAMAGES ARISING FROM OR IN CONNECTION WITH THE EXISTENCE OR USE OF THE SITE, REGARDLESS OF WHETHER ALLERGAN OR ANY OF THE OTHER ENTITIES OR PERSONS LISTED ABOVE HAS BEEN ADVISED AS TO THE POSSIBILITY OF SUCH DAMAGES. THIS INCLUDES DAMAGES TO, OR FOR VIRUSES THAT MAY INFECT YOUR COMPUTER EQUIPMENT.<br>
                    IF YOU RELY ON THIS SITE OR ANY INFORMATION, PRODUCT OR SERVICE AVAILABLE THROUGH THIS SITE, YOU DO SO AT YOUR OWN RISK. THERE MAY BE DELAYS, OMISSIONS, INTERRUPTIONS, INACCURACIES, AND/OR OTHER PROBLEMS WITH THE INFORMATION, PRODUCTS, AND SERVICES PUBLISHED ON OR PROMOTED OVER THIS SITE.<br>
                    WITHOUT LIMITING THE FOREGOING, EVERYTHING ON THE SITE IS PROVIDED TO YOU AS IS AND ALLERGAN MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND OR NATURE WITH RESPECT TO THE SITE.<br>
                    ALLERGAN HEREBY DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS OR IMPLIED, CREATED BY LAW, CONTRACT OR OTHERWISE, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTIES OF MERCHANTIBILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, OR NON-INFRINGEMENT.<br>
                    ALLERGAN MAKES NO REPRESENTATION OR WARRANTY THAT ACCESS TO THE SITE WILL BE AVAILABLE ON A TIMELY BASIS, WILL BE UNINTERRUPTED, OR THAT THE DATA CONTAINED ON THE SITE WILL BE TIMELY OR ERROR FREE.<br>
                    Please note that some jurisdictions may not allow the exclusion of implied warranties,
                    so some of the above exclusions may not apply to you. Check your local laws for any restrictions or limitations regarding the exclusion of implied warranties. To the extent that Allergan may not, as a matter of applicable law, disclaim any implied warranty or limit its liabilities, the scope and duration of such warranty and the extent of Allergan’s liability will be equal to the minimum permitted under such applicable law.<br>
                    YOU AGREE TO INDEMNIFY AND HOLD HARMLESS ALLERGAN, ITS AFFILIATES, AGENTS, VENDORS AND LICENSORS, AND THEIR RESPECTIVE EMPLOYEES, OWNERS AND REPRESENTATIVES AGAINST ANY AND ALL CLAIMS, OF WHATEVER NATURE, THAT ARISE OUT OF ANY BREACH BY YOU OF THIS AGREEMENT OR YOUR USE OF THIS SITE, TO THE FULLEST EXTENT ALLOW BY LAW.<br>
                    You further agree that any claim related to this Site must be filed within one year after it arises.<br>
                    Non-Personal Data<br>
                    Any non-Personal Data that you transmit to, or post on, this Site by electronic mail or otherwise, including any data, questions, comments, suggestions, or the like, is, and will be treated as, non-confidential and nonproprietary data, and Allergan shall have no obligation of any kind with respect to such data. Allergan and any of our affiliates may use such data for any purpose whatsoever in accordance with applicable laws and regulations, including, but not limited to, the following purposes: reproduction, disclosure, transmission, publication, broadcast, and further posting. Further, we and any of our affiliates shall be free to use such data, including, but not limited to, any ideas, concepts, know-how, or techniques contained therein, for any purpose whatsoever, including, but not limited to, researching, developing, manufacturing, and marketing products incorporating such data. Please consult our Privacy Statement for more data.<br>
                    Links to Other Websites<br>
                    You are free to establish a hypertext link to this Site so long as the link does not state or imply any endorsement or sponsorship of you, your company, or your site by Allergan. Without the prior written permission of Allergan, you may not frame or scrape any of the content on the site nor incorporate into another website or other service any intellectual property of Allergan.<br>
                    Links to Allergan’s Websites<br>
                    Allergan encourages other websites to link to this Site, provided that these links comply with the guidelines set forth herein. Links to this Site from other sites should be text-only and may not include Allergan’s logo or other intellectual property. We strictly prohibit any suggestions of Allergan endorsement or recommendation of a specific company, product, or service.<br>
                    Links From Allergan’s Websites<br>
                    This Site may include links to other sites. These links are provided solely for purposes of convenience. Allergan is not responsible for the content or accuracy of data contained on other sites or other sites’ privacy practices. Allergan is not liable for any damages or injury arising from content contained on other sites. Links to third-party sites are not a referral or endorsement of any other entity, item, or service. You release Allergan and its affiliates from any damages that you may incur, and agree not to assert any claims against them, arising from your purchase or use of third-party supplied data, products and services.<br>
                    Jurisdiction<br>
                    Nothing contained on the Site should be construed as solicitation or promotion for any product or for the use of any product in a way which is not authorized by the country in which the reader is physically located. This Site provides information about products or uses that may not be available in particular countries. Some of the products mentioned may in certain countries be approved or cleared by regulatory authorities for sale or use with different indications, dosages, and restrictions.<br>
                    Forward-Looking Statements<br>
                    This Site contains information that is forward-looking and involves risks and uncertainties, including, without limitation, risks and uncertainties of research and development, clinical development, regulatory approvals and the regulatory process, our reliance on third-party manufacturers, product commercialization, competition, patents, product liability, and third party reimbursement, and other risks and uncertainties detailed from time to time in our periodic reports filed with the Securities and Exchange Commission. Actual results may differ materially from such forward-looking information.<br>
                    Reservation of Rights<br>
                    Allergan reserves the right to alter or delete material from this Site at any time without notice. Please check often for updates, as we reserve the right, in our sole discretion, to modify these Terms of Use at any time, and your use of the Site indicates your acceptance of any revisions to these terms.<br>
                    Allergan’s failure to enforce any right or provision of these Terms of Use shall not constitute a waiver of such right or provision. If any provision of these Terms of Use is unlawful, void, or unenforceable, then it shall be severed and shall not affect the validity and enforceability of any Terms of Use. If any provision of these Terms of Use is held to be invalid or unenforceable in any jurisdiction, such provision shall be deemed modified to
                    the minimum extent necessary so that such provision shall no longer be held to be invalid or unenforceable, and these Terms of Use shall be interpreted so as to achieve the intent expressed herein to the greatest extent possible in the jurisdiction in question. Any such modification, invalidity or unenforceability shall be strictly limited both to such provision and to such jurisdiction.<br>
                    Allergan may assign its ownership, control, or other rights to any party at any time without any notice to you. Your rights and duties cannot be assigned without Allergan’s written consent. Nothing in these Terms of Use provides any third party with any remedy, claim, or cause of action.
                </p>
            </div>
        </div>

    </div>
</section>
